In [18]:
import pandas
import numpy
import datetime

sales = pandas.read_csv("Data Model - Pizza Sales.csv")

In [19]:
sales.columns

Index(['order_details_id', 'order_id', 'pizza_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [20]:
for column_id in sales.columns:
    print(sales[column_id].unique())

[    1     2     3 ... 48618 48619 48620]
[    1     2     3 ... 21348 21349 21350]
['hawaiian_m' 'classic_dlx_m' 'five_cheese_l' 'ital_supr_l' 'mexicana_m'
 'thai_ckn_l' 'ital_supr_m' 'prsc_argla_l' 'bbq_ckn_s' 'the_greek_s'
 'spinach_supr_s' 'classic_dlx_s' 'green_garden_s' 'ital_cpcllo_l'
 'ital_supr_s' 'mexicana_s' 'spicy_ital_l' 'spin_pesto_l' 'veggie_veg_s'
 'mexicana_l' 'southw_ckn_l' 'bbq_ckn_l' 'cali_ckn_l' 'cali_ckn_m'
 'pepperoni_l' 'cali_ckn_s' 'ckn_pesto_l' 'big_meat_s' 'soppressata_l'
 'four_cheese_l' 'napolitana_s' 'calabrese_m' 'four_cheese_m'
 'ital_veggie_s' 'mediterraneo_m' 'peppr_salami_s' 'spinach_fet_l'
 'napolitana_l' 'sicilian_l' 'ital_cpcllo_m' 'southw_ckn_s' 'bbq_ckn_m'
 'pepperoni_m' 'prsc_argla_s' 'sicilian_m' 'veggie_veg_l' 'ckn_alfredo_s'
 'pepperoni_s' 'green_garden_l' 'green_garden_m' 'pep_msh_pep_l'
 'hawaiian_s' 'peppr_salami_m' 'ckn_alfredo_m' 'peppr_salami_l'
 'spin_pesto_s' 'thai_ckn_m' 'classic_dlx_l' 'ckn_pesto_m' 'the_greek_xl'
 'hawaiian_l' 'pep_msh_pep_s' 'spinach_supr_m' 'prsc_argla_m'
 'mediterraneo_l' 'southw_ckn_m' 'pep_msh_pep_m' 'sicilian_s'
 'spicy_ital_s' 'thai_ckn_s' 'spinach_supr_l' 'ital_veggie_l'
 'veggie_veg_m' 'the_greek_m' 'ckn_pesto_s' 'spinach_fet_s' 'spicy_ital_m'
 'ital_veggie_m' 'ital_cpcllo_s' 'mediterraneo_s' 'spinach_fet_m'
 'napolitana_m' 'spin_pesto_m' 'brie_carre_s' 'ckn_alfredo_l'
 'calabrese_s' 'the_greek_l' 'soppressata_m' 'soppressata_s' 'calabrese_l'
 'the_greek_xxl']
[1 2 3 4]
['1/1/2015' '1/2/2015' '1/3/2015' '1/4/2015' '1/5/2015' '1/6/2015'
 '1/7/2015' '1/8/2015' '1/9/2015' '1/10/2015' '1/11/2015' '1/12/2015'
 '1/13/2015' '1/14/2015' '1/15/2015' '1/16/2015' '1/17/2015' '1/18/2015'
 '1/19/2015' '1/20/2015' '1/21/2015' '1/22/2015' '1/23/2015' '1/24/2015'
 '1/25/2015' '1/26/2015' '1/27/2015' '1/28/2015' '1/29/2015' '1/30/2015'
 '1/31/2015' '2/1/2015' '2/2/2015' '2/3/2015' '2/4/2015' '2/5/2015'
 '2/6/2015' '2/7/2015' '2/8/2015' '2/9/2015' '2/10/2015' '2/11/2015'
 '2/12/2015' '2/13/2015' '2/14/2015' '2/15/2015' '2/16/2015' '2/17/2015'
 '2/18/2015' '2/19/2015' '2/20/2015' '2/21/2015' '2/22/2015' '2/23/2015'
 '2/24/2015' '2/25/2015' '2/26/2015' '2/27/2015' '2/28/2015' '3/1/2015'
 '3/2/2015' '3/3/2015' '3/4/2015' '3/5/2015' '3/6/2015' '3/7/2015'
 '3/8/2015' '3/9/2015' '3/10/2015' '3/11/2015' '3/12/2015' '3/13/2015'
 '3/14/2015' '3/15/2015' '3/16/2015' '3/17/2015' '3/18/2015' '3/19/2015'
 '3/20/2015' '3/21/2015' '3/22/2015' '3/23/2015' '3/24/2015' '3/25/2015'
 '3/26/2015' '3/27/2015' '3/28/2015' '3/29/2015' '3/30/2015' '3/31/2015'
 '4/1/2015' '4/2/2015' '4/3/2015' '4/4/2015' '4/5/2015' '4/6/2015'
 '4/7/2015' '4/8/2015' '4/9/2015' '4/10/2015' '4/11/2015' '4/12/2015'
 '4/13/2015' '4/14/2015' '4/15/2015' '4/16/2015' '4/17/2015' '4/18/2015'
 '4/19/2015' '4/20/2015' '4/21/2015' '4/22/2015' '4/23/2015' '4/24/2015'
 '4/25/2015' '4/26/2015' '4/27/2015' '4/28/2015' '4/29/2015' '4/30/2015'
 '5/1/2015' '5/2/2015' '5/3/2015' '5/4/2015' '5/5/2015' '5/6/2015'
 '5/7/2015' '5/8/2015' '5/9/2015' '5/10/2015' '5/11/2015' '5/12/2015'
 '5/13/2015' '5/14/2015' '5/15/2015' '5/16/2015' '5/17/2015' '5/18/2015'
 '5/19/2015' '5/20/2015' '5/21/2015' '5/22/2015' '5/23/2015' '5/24/2015'
 '5/25/2015' '5/26/2015' '5/27/2015' '5/28/2015' '5/29/2015' '5/30/2015'
 '5/31/2015' '6/1/2015' '6/2/2015' '6/3/2015' '6/4/2015' '6/5/2015'
 '6/6/2015' '6/7/2015' '6/8/2015' '6/9/2015' '6/10/2015' '6/11/2015'
 '6/12/2015' '6/13/2015' '6/14/2015' '6/15/2015' '6/16/2015' '6/17/2015'
 '6/18/2015' '6/19/2015' '6/20/2015' '6/21/2015' '6/22/2015' '6/23/2015'
 '6/24/2015' '6/25/2015' '6/26/2015' '6/27/2015' '6/28/2015' '6/29/2015'
 '6/30/2015' '7/1/2015' '7/2/2015' '7/3/2015' '7/4/2015' '7/5/2015'
 '7/6/2015' '7/7/2015' '7/8/2015' '7/9/2015' '7/10/2015' '7/11/2015'
 '7/12/2015' '7/13/2015' '7/14/2015' '7/15/2015' '7/16/2015' '7/17/2015'
 '7/18/2015' '7/19/2015' '7/20/2015' '7/21/2015' '7/22/2015' '7/23/2015'
 '7/24/2015' '7/25/2015' '7/26/2015' '7/27/2015' '7/28/2015' '7/29/2015'
 '7/30/2015' '7/31/2015' '8/1/2015' '8/2/2015' '8/3/2015' '8/4/2015'
 '8/5/2015' '8/6/2015' '8/7/2015' '8/8/2015' '8/9/2015' '8/10/2015'
 '8/11/2015' '8/12/2015' '8/13/2015' '8/14/2015' '8/15/2015' '8/16/2015'
 '8/17/2015' '8/18/2015' '8/19/2015' '8/20/2015' '8/21/2015' '8/22/2015'
 '8/23/2015' '8/24/2015' '8/25/2015' '8/26/2015' '8/27/2015' '8/28/2015'
 '8/29/2015' '8/30/2015' '8/31/2015' '9/1/2015' '9/2/2015' '9/3/2015'
 '9/4/2015' '9/5/2015' '9/6/2015' '9/7/2015' '9/8/2015' '9/9/2015'
 '9/10/2015' '9/11/2015' '9/12/2015' '9/13/2015' '9/14/2015' '9/15/2015'
 '9/16/2015' '9/17/2015' '9/18/2015' '9/19/2015' '9/20/2015' '9/21/2015'
 '9/22/2015' '9/23/2015' '9/26/2015' '9/27/2015' '9/28/2015' '9/29/2015'
 '9/30/2015' '10/1/2015' '10/2/2015' '10/3/2015' '10/4/2015' '10/6/2015'
 '10/7/2015' '10/8/2015' '10/9/2015' '10/10/2015' '10/11/2015'
 '10/13/2015' '10/14/2015' '10/15/2015' '10/16/2015' '10/17/2015'
 '10/18/2015' '10/20/2015' '10/21/2015' '10/22/2015' '10/23/2015'
 '10/24/2015' '10/25/2015' '10/27/2015' '10/28/2015' '10/29/2015'
 '10/30/2015' '10/31/2015' '11/1/2015' '11/2/2015' '11/3/2015' '11/4/2015'
 '11/5/2015' '11/6/2015' '11/7/2015' '11/8/2015' '11/9/2015' '11/10/2015'
 '11/11/2015' '11/12/2015' '11/13/2015' '11/14/2015' '11/15/2015'
 '11/16/2015' '11/17/2015' '11/18/2015' '11/19/2015' '11/20/2015'
 '11/21/2015' '11/22/2015' '11/23/2015' '11/24/2015' '11/25/2015'
 '11/26/2015' '11/27/2015' '11/28/2015' '11/29/2015' '11/30/2015'
 '12/1/2015' '12/2/2015' '12/3/2015' '12/4/2015' '12/5/2015' '12/6/2015'
 '12/7/2015' '12/8/2015' '12/9/2015' '12/10/2015' '12/11/2015'
 '12/12/2015' '12/13/2015' '12/14/2015' '12/15/2015' '12/16/2015'
 '12/17/2015' '12/18/2015' '12/19/2015' '12/20/2015' '12/21/2015'
 '12/22/2015' '12/23/2015' '12/24/2015' '12/26/2015' '12/27/2015'
 '12/28/2015' '12/29/2015' '12/30/2015' '12/31/2015']
['11:38:36' '11:57:40' '12:12:28' ... '20:51:07' '21:14:37' '22:09:54']
[13.25 16.   18.5  20.75 16.5  12.75 12.   12.5  20.5  20.25 16.75 15.25
 17.95 16.25 14.75  9.75 17.5  10.5  25.5  11.   14.5  12.25 21.   23.65
 35.95]
[13.25 16.   18.5  20.75 16.5  12.75 12.   12.5  20.5  20.25 16.75 15.25
 17.95 16.25 14.75 32.    9.75 17.5  10.5  25.5  11.   14.5  12.25 21.
 62.25 41.5  50.25 23.65 24.   33.5  35.9  25.   19.5  37.5  37.   41.
 33.   40.5  24.5  47.3  22.   35.95 29.   29.5  26.5  48.75 32.5  30.5
 48.   51.   36.   35.   83.   61.5  49.5  55.5 ]
['M' 'L' 'S' 'XL' 'XXL']
['Classic' 'Veggie' 'Supreme' 'Chicken']
['Sliced Ham, Pineapple, Mozzarella Cheese'
 'Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon'
 'Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic'
 'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic'
 'Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic'
 'Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce'
 'Prosciutto di San Daniele, Arugula, Mozzarella Cheese'
 'Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce'
 'Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions'
 'Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese'
 'Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese'
 'Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano'
 'Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic'
 'Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce'
 'Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic'
 'Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce'
 'Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese'
 'Mozzarella Cheese, Pepperoni'
 'Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce'
 'Bacon, Pepperoni, Italian Sausage, Chorizo Sausage'
 'Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic'
 'Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic'
 'Tomatoes, Anchovies, Green Olives, Red Onions, Garlic'
 '?duja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic'
 'Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce'
 'Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions'
 'Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic'
 'Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic'
 'Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic'
 'Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce'
 'Pepperoni, Mushrooms, Green Peppers'
 'Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic']
['The Hawaiian Pizza' 'The Classic Deluxe Pizza' 'The Five Cheese Pizza'
 'The Italian Supreme Pizza' 'The Mexicana Pizza' 'The Thai Chicken Pizza'
 'The Prosciutto and Arugula Pizza' 'The Barbecue Chicken Pizza'
 'The Greek Pizza' 'The Spinach Supreme Pizza' 'The Green Garden Pizza'
 'The Italian Capocollo Pizza' 'The Spicy Italian Pizza'
 'The Spinach Pesto Pizza' 'The Vegetables + Vegetables Pizza'
 'The Southwest Chicken Pizza' 'The California Chicken Pizza'
 'The Pepperoni Pizza' 'The Chicken Pesto Pizza' 'The Big Meat Pizza'
 'The Soppressata Pizza' 'The Four Cheese Pizza' 'The Napolitana Pizza'
 'The Calabrese Pizza' 'The Italian Vegetables Pizza'
 'The Mediterranean Pizza' 'The Pepper Salami Pizza'
 'The Spinach and Feta Pizza' 'The Sicilian Pizza'
 'The Chicken Alfredo Pizza' 'The Pepperoni, Mushroom, and Peppers Pizza'
 'The Brie Carre Pizza']

In [21]:
#convert order dates to a nicer format
def changeDateFormat(date: str) -> str:
    datetime_obj = datetime.datetime.strptime(date, "%m/%d/%Y")
    return datetime_obj.strftime("%Y-%m-%d")

sales["order_date"] = sales['order_date'].apply(changeDateFormat)

#convert order dates to an indexed list for graphing/counting purposes
def dateToIndex(date: str) -> int:
    datetime_obj = datetime.datetime.strptime(date, "%Y-%m-%d")
    return datetime_obj.timetuple().tm_yday

def dateToWeekday(date: str) -> str:
    datetime_obj = datetime.datetime.strptime(date, "%Y-%m-%d")
    return ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"][datetime_obj.weekday()]

sales["order_date_index"] = sales["order_date"].apply(dateToIndex)
sales["order_date_weekday"] = sales["order_date"].apply(dateToWeekday)

In [22]:
orders = pandas.DataFrame(columns = ["item_count", "unique_item_count", "total_price", "order_date_index", "order_date", "order_date_weekday", "order_time"])

order_row = None
order_id = None
for row_index in sales.index:
    item = sales.loc[row_index]
    if order_row is None or order_id != item["order_id"]:
        if not order_row is None:
            orders.loc[order_id] = order_row

        order_id = item["order_id"]
        order_row = {
            "item_count": 0,
            "unique_item_count": 0,
            "total_price": 0,
            "order_date_index": item["order_date_index"],
            "order_date": item["order_date"],
            "order_date_weekday": item["order_date_weekday"],
            "order_time": item["order_time"]
        }
    order_row["item_count"] += item["quantity"]
    order_row["unique_item_count"] += 1
    order_row["total_price"] += item["total_price"]
orders.loc[order_id] = order_row

orders

,item_count,unique_item_count,total_price,order_date_index,order_date,order_date_weekday,order_time
1,1,1,13.25,1,2015-01-01,Thursday,11:38:36
2,5,5,92.00,1,2015-01-01,Thursday,11:57:40
3,2,2,37.25,1,2015-01-01,Thursday,12:12:28
4,1,1,16.50,1,2015-01-01,Thursday,12:16:31
5,1,1,16.50,1,2015-01-01,Thursday,12:21:30
...,...,...,...,...,...,...,...
21346,4,4,62.25,365,2015-12-31,Thursday,20:51:07
21347,4,4,66.50,365,2015-12-31,Thursday,21:14:37
21348,3,3,46.70,365,2015-12-31,Thursday,21:23:10
21349,1,1,20.25,365,2015-12-31,Thursday,22:09:54
21350,1,1,12.75,365,2015-12-31,Thursday,23:02:05

In [23]:
#create a separate dataframe to help count daily statistics
daily_sales = pandas.DataFrame(columns = ["item_count", "order_count", "revenue", "date", "weekday"])

day_row = None
order_date_index = None
for row_index in orders.index:
    order = orders.loc[row_index]
    if day_row is None or order_date_index != order["order_date_index"]:
        if not day_row is None:
            daily_sales.loc[order_date_index] = day_row

        order_date_index = order["order_date_index"]
        day_row = {
            "item_count": 0,
            "order_count": 0,
            "revenue": 0,
            "date": order["order_date"],
            "weekday": order["order_date_weekday"]
        }
    day_row["item_count"] += order["item_count"]
    day_row["order_count"] += 1
    day_row["revenue"] += order["total_price"]
daily_sales.loc[order_date_index] = day_row

#remove all the days with no sales
daily_sales = daily_sales.drop(daily_sales.index[daily_sales["item_count"] == 0])

daily_sales

     item_count  order_count  revenue        date    weekday
1           162           69  2713.85  2015-01-01   Thursday
2           165           67  2731.90  2015-01-02     Friday
3           158           66  2662.40  2015-01-03   Saturday
4           106           52  1755.45  2015-01-04     Sunday
5           125           54  2065.95  2015-01-05     Monday
..          ...          ...      ...         ...        ...
361          89           35  1419.00  2015-12-27     Sunday
362         102           39  1637.20  2015-12-28     Monday
363          80           27  1353.25  2015-12-29    Tuesday
364          82           32  1337.80  2015-12-30  Wednesday
365         178           73  2916.00  2015-12-31   Thursday

[358 rows x 5 columns]

In [24]:
sales.to_csv("sales.csv")
daily_sales.to_csv("daily_sales.csv")
orders.to_csv("orders.csv")